apiVersion: core.eda.nokia.com/v1
kind: NodeUser
metadata:
  name: {{ node_user }}
  namespace: {{ namespace }}
spec:
  username: {{ username }}
  password: {{ password }}
  groupBindings:
    - groups:
        - sudo
      nodeSelector:
        - {{ node_selector }}
  sshPublicKeys:
  {%- if ssh_pub_keys and ssh_pub_keys|length > 0 %}
  {% for key in ssh_pub_keys %}
    - {{ key }}
  {% endfor %}
  {%- else %}
    []
  {%- endif %}