---
apiVersion: core.eda.nokia.com/v1
kind: IPInSubnetAllocationPool
metadata:
  name: {{ pool_name }}
spec:
  segments:
  - subnet: {{ subnet }}
    allocations:
    - name: gateway
      value: {{ gateway }}
