apiVersion: core.eda.nokia.com/v1
kind: NodeUser
metadata:
  name: {{ node_user }}
  namespace: eda
spec:
  username: {{ username }}
  password: {{ password }}
  groupBindings:
    - groups:
        - sudo
      nodeSelector:
        - containerlab=true
  sshPublicKeys: []