apiVersion: core.eda.nokia.com/v1
kind: NodeUser
metadata:
  name: {{ node_user }}
  labels: null
  namespace: default
spec:
  username: {{ username }}
  password: {{ password }}
  groupBindings:
    - groups:
        - sudo
      nodeSelector:
        - eda.nokia.com/role=spine
        - eda.nokia.com/role=borderleaf
        - eda.nokia.com/role=leaf
        - eda.nokia.com/role=UNKNOWN
  sshPublicKeys: []