apiVersion: core.eda.nokia.com/v1
kind: TopoLink
metadata:
  labels:
    eda.nokia.com/role: {{ link_role }}
  name: {{ link_name }}
  namespace: eda
spec:
  links:
    - local:
        interface: {{ local_interface }}
        interfaceResource: {{ local_node }}-{{ local_interface }}
        node: {{ local_node }}
      remote:
        interface: {{ remote_interface }}
        interfaceResource: {{ remote_node }}-{{ remote_interface }}
        node: {{ remote_node }}
      type: interSwitch